<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="header__logo-wrapper">
                    <img src="assets/img/logo.svg" alt="" class="header__logo">
                </div>
                <div class="header__name-wrapper">
                    <span class="header__name">let me buy</span>
                    <span class="header__additional-text">Качественно и выгодно</span>
                </div>
            </div>
            <div class="col-6">
                <div class="header__search-wrapper">
                    <form action="/">
                        <label for="search"><input type="text" id="search" placeholder="Я хочу купить..."></label>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <span class="header__phone">
                    8(499)999 99 99
                </span>
                <span class="header__work-time">
                    время работы: с 10:00 до 21:00
                </span>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
            </div>
        </nav>
    </div>
</header>