#custom-rating {
    position: relative;
}
#custom-rating input[type=radio] {
    opacity: 0;
    position: absolute;
    height: 100%;
    top: 0;
    border: 0;
    margin: auto;
}

#replyrow.inline-edit-row #custom-rating label {
    display: inline-flex;
    vertical-align: middle;
}

#custom-rating label:before {
    content: "";
    display: inline-block;
    background-image: url(../img/stary.svg);
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: initial;
}

#custom-rating  input[type=radio]:checked ~ label:before {
    background-image: url(../img/start.svg);
}

#custom-rating  input[type=radio]:checked + label:before {
    background-image: url(../img/stary.svg);
}