table th, table td {
    padding: 0 .5rem;
}
.lmb-cart {
    &__thumbnail-wrapper {
        width: 6.5rem;
        height: 6.5rem;
    }

    &__thumbnail-wrapper .attachment-woocommerce_thumbnail {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    &__spacer {
        height: 1rem;
    }
    .woocommerce-cart-form .woocommerce-cart-form__cart-item + &__spacer {
        border-bottom: 1px solid $grey;
    }
}
.woocommerce-cart-form th, .woocommerce-cart-form td {
    text-align: center;
}
.woocommerce-cart-form td.actions {
    text-align: right;
}
.woocommerce-cart-form .shop_table {
    width: 100%;
}
.woocommerce-cart-form .shop_table th {
    font-weight: 700;
    font-size: 1.2rem;
}

.woocommerce-cart-form .woocommerce-Price-amount {
    font-weight: 600;
    font-size: 1.2rem;
}
.woocommerce-cart-form .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-size: 1rem;
}
.woocommerce-cart-form .actions .lmb-button {
    margin-top: 1.5rem;
}
.cart-collaterals .shop_table {
    width: 100%;
    margin-bottom: 1rem;
}
.cart-collaterals .wc-proceed-to-checkout {
    margin-bottom: 1rem;
}
.cart-collaterals .shop_table td {
    text-align: right;
}
.cart-collaterals .order-total th,
.cart-collaterals .coupon label {
    font-weight: 600;
    font-size: 1.1rem;
}
.cart-collaterals .cart-subtotal + .lmb-cart__spacer,
.cart-collaterals .order-total + .lmb-cart__spacer {
    border-bottom: 1px solid $grey;
}
.return-to-shop .wc-backward {
    color: $cyan;
}
.return-to-shop .wc-backward:hover {
    color: $cyan;
    cursor: pointer;
}
#order_review .woocommerce-checkout-review-order-table,
#order_review .woocommerce-checkout-review-order-table th,
#order_review .woocommerce-checkout-review-order-table td {
    border: 1px solid $light-brown;
}
#order_review .woocommerce-checkout-review-order-table th,
#order_review .woocommerce-checkout-review-order-table td {
    padding: 5px 10px;
}

#order_review .woocommerce-checkout-review-order-table thead th {
    color: $cyan;
}
#order_review .woocommerce-checkout-review-order-table {
    margin-bottom: 1rem;
}