@import './mains/colors';
// @import './mains/common';
#customer_details > .col-1, #customer_details > .col-2 {
    flex: initial;
    max-width: initial;
    padding: initial;
}
#customer_details .form-row {
    display: flex;
    flex-direction: column;
}

#order_review .shop_table {
    width: 100%;
}

.showcoupon, .showcoupon:hover {
    color: $cyan;
}
// .woocommerce-additional-fields__field-wrapper .woocommerce-input-wrapper textarea {
//     width: 100%;
// }