@import './mains/colors';
@import './parts/search';

$search-height: 2rem;
$search-label-size: 1.4rem;
.header {
    &__logo {
        width: 4rem;
        height: 4rem;
    }
    &__name-wrapper {
        margin-left: 1rem;
    }
    &__name {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__additional-text {
        font-size: .8rem;
    }
    &__search-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media ( max-width: 767px ) {
        &__search-form {
            max-width: 100%;
            width: 100%;
        }
    }
    &__search {
        display: inline-block;
        vertical-align: middle;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: none;
        width: 26rem;
        height: 100%;
        outline: none;
        padding: 0 .5rem;
    }

    @media ( max-width: 991px ) {
        &__search {
            width: 88%;
        }
    }
    @media ( max-width: 785px ) {
        &__search {
            width: 86%;
        }
    }
    @media ( max-width: 767px ) {
        &__search {
            width: 92%;
        }
    }
    @media ( max-width: 478px ) {
        &__search {
            width: 89%;
        }
    }
    @media ( max-width: 370px ) {
        &__search {
            width: 86%;
        }
    }

    &__search-wrapper:hover {
        cursor: pointer;
    }
    &__phone {
        display: flex;
        align-items: center;
    }
    &__phone:before {
        content: "";
        background-image: url(../img/ph-head.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .7rem;
    }
    &__work-time {
        font-size: .8rem;
    }
    //@media( max-width: 990px ) {
    //    &__work-time {
    //        display: flex;
    //        flex-direction: column;
    //    }
    //}
    //&__menu_main-section {
    //    padding-top: .5rem;
    //    padding-bottom: .5rem;
    //}
    @media(max-width: 767px) {
        &__menu_main-section {
            display: flex;
            justify-content: center;
            //margin-top: .5rem;
            //margin-bottom: .5rem;
        }
    }
    &__menu_collapsed {
        flex: 1;
    }
    &__interactive-icon_wrapper {
        width: 2.75rem;
        position: relative;
        background-color: $double-light-brown;
    }
    &__interactive-icon_wrapper:first-child {
        margin-right: .5rem;
    }
    &__liked-items {
        content: "";
        background-image: url(../img/liked.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
    }
    &__cart {
        content: "";
        background-image: url(../img/cart.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        &_product-counter {
            width: 20px;
            height: 20px;
            font-size: .85rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background-color: $cyan;
            color: white;
            top: 0;
            right: 0px;
            bottom: -15px;
            margin: auto;
            position: absolute;
        }
        @media( max-width: 990px ) {
            &_product-counter {
                bottom: -18px;
            }
        }
    }
    &__menu li {
        padding: 0 .5rem;
        white-space: nowrap;
    }
}
.navbar {
    margin-left: -15px;
    margin-right: -15px;
}
.navbar-collapse {
    padding: 0 15px;
}
.lmb-search-label {
    height: $search-height;
    margin-bottom: 0;
    padding: .1rem .12rem;
    box-sizing: content-box;
    border-radius: 5px;
    background-color: $light-brown;
}
.lmb-search-label:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: $search-label-size;
    height: $search-label-size;
    padding: calc(#{$search-height - $search-label-size} / 2) calc(#{$search-height - $search-label-size} * 2);
    box-sizing: content-box;
}

@media( max-width: 991px ) {
    .lmb-search-label {
        width: 100%;
        margin-left: 1rem;
    }
    .lmb-search-label:after {
        padding: .3rem .4rem
    }
    .navbar-collapse {
        position: absolute;
        top: 39px;
        min-width: 37%;
        z-index: 10;
        background-color: $light-brown;
    }
    .navbar-nav {
        padding: 15px;
    }
}
.navbar-light .navbar-toggler {
    outline: none;
    border: none;
    padding: initial;
}
@media ( max-width: 767px ) {
    .navbar-light .navbar-toggler {
        padding-left: .5rem;
        padding-right: .5rem;
        z-index: 11;
    }
    .navbar-collapse {
        left: 15px;
        top: 0;
        padding-top: 2rem;
        min-width: 40%;
    }
}
.menu-main-container a {
    display: flex;
    align-items: center;
}
.menu-main-container, .menu-main-container * {
    height: 100%;
}
.border-top-light-brown {
    border-top: 1px solid $light-brown;
}
.border-bottom-shadow {
    box-shadow: 0px 5px 8px #dddbdb;
}
.lmb-mobile-menu-wrapper {
    padding-top: .5rem;
    padding-bottom: .5rem;
}