@import './_slider-product';
.lmb-space__before-slick-load {
    //height: 31.25rem;
    max-width: 100%;
}
.home__main-banner_wrapper {
    height: 32rem;
}
.brands-row__brand-slider {
    position: relative;
}
.brands-row__brand-slider .slick-slide {
    height: 10rem;
    width: 10rem;
    margin: 0 15px;
}
.slick-slide:focus {
    outline: none;
}
.brands-row__arrows .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;
    width: 25px;
    height: 25px;
    background-color: $cyan;
    border-radius: 30px;
}
.brands-row__arrows .slick-arrow .content-wrapper {
    position: absolute;
    top: 55%;
    left: 45%;
    margin-top: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 3px solid white;
    border-right: 3px solid white;
}

.brands-row__arrows .lmb-prev-arrow {
    left: -20px;
    transform: rotate(-135deg);
}
.brands-row__arrows .lmb-next-arrow {
    right: -20px;
    transform: rotate(45deg);
}

@media (max-width: 1220px) {
    .brands-row__arrows .lmb-prev-arrow {
        left: 5px;
    }
    .brands-row__arrows .lmb-next-arrow {
        right: 5px;
    }
}
.brands-row__arrows .lmb-prev-arrow,
.brands-row__arrows .lmb-next-arrow {
    transition: height .3s, width .3s;
}
.brands-row__arrows .lmb-prev-arrow:hover,
.brands-row__arrows .lmb-next-arrow:hover
{
    width: 28px;
    height: 28px;
    cursor: pointer;
}
//.brands-row__arrows .lmb-next-arrow .
@media (max-width: 990px) {
    .home__main-banner_wrapper {
        height: 26rem;
    }
}
@media (max-width: 767px) {
    .home__main-banner_wrapper {
        height: 20rem;
    }
}
.home__main-banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 80% 50%;
}
@media ( max-width: 460px ) {
    .home__main-banner {
        object-position: 60% 50%;
    }
}
@media( max-width: 990px ) {
    //.home__main-banner, .slick-track, .home__main-banner_item, .lmb-space__before-slick-load {
    //    height: 24.25rem;
    //}
    .main-slick__buyers-choice .slick-track,
    .main-slick__choose-brand .slick-track {
        height: 410px;
    }
}
.brands-row {
    &__brand-wrapper {
        height: 9rem;
        width: 9rem;
        border: solid 0px $cyan;
        transition: border-width 0.05s linear;
    }
    @media( max-width: 991px ) {
        &__brand-wrapper {
            height: 100%;
            width: 100%;
        }
    }
    &__brand-wrapper:hover {
        cursor: pointer;
        border-width: 2px;
        border-radius: 5px;
        overflow: hidden;
    }
}

.home-benefits {
    @media (max-width: 990px) {
        &__img-wrapper {
            width: 35%;
            margin: auto;
        }
    }
    @media (max-width: 575px) {
        &__img-wrapper {
            width: 15%;
        }
    }
}