@import './mains/colors';
.woocommerce-form-login .woocommerce-form-row {
    display: flex;
    flex-direction: column;
}

.woocommerce-form-register .woocommerce-form-row {
    display: flex;
    flex-direction: column;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link {
    margin-bottom: .3rem;
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link.is-active a, .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a:hover {
    color: $cyan;
}
.woocommerce-MyAccount-content a {
    color: $cyan;
}

.woocommerce-MyAccount-content a:hover {
    color: $cyan;
    cursor: pointer;
}
.woocommerce-MyAccount-content .woocommerce-orders-table,
.woocommerce-MyAccount-content .woocommerce-orders-table th,
.woocommerce-MyAccount-content .woocommerce-orders-table td {
    border: 1px solid $light-brown;
}
.woocommerce-MyAccount-content .woocommerce-orders-table th,
.woocommerce-MyAccount-content .woocommerce-orders-table td {
    padding: 10px;
    text-align: left;
}
.woocommerce-Addresses .woocommerce-Address address > div{
    margin-bottom: .15rem;
}

.woocommerce-Addresses .woocommerce-Address .woocommerce-Address-title {
    margin-bottom: 1rem;
}
.woocommerce-MyAccount-content .woocommerce-address-fields .form-row {
    display: flex;
    flex-direction: column;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm.edit-account .woocommerce-form-row {
    display: flex;
    flex-direction: column;
}