@import "./slider-product";
.woocommerce-product-gallery__wrapper {
    display: flex;
    // margin-block-start: 0;
    // margin-block-end: 0;
    // margin-inline-start: 0;
    // margin-inline-end: 0;
}
//.lmb-product-gallery__main-wrapper {
//    width: 25rem;
//    height: 26.5rem;
//}
//.home__main-banner_wrapper {
//    height: 14rem;
//}
//.home__main-banner_wrapper img {
//    object-fit: cover;
//    width: 100%;
//    height: 100%;
//}
.lmb-product-gallery__attachments-wrapper {
    margin-bottom: .5rem;
}
.lmb-product-gallery__attachments-wrapper:last-child {
    margin-bottom: initial;
}
.lmb-single-product {
    &__thumbnails-wrapper {
        order: -1;
        margin-right: 1rem;
    }
    &__image-wrapper {
        &_inner {
            width: 25rem;
            height: 25rem;
        }

        & .wp-post-image {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}
.lmb-single {
    &__benefits-image, &__benefits-textWrapper {
        display: inline-block;
        vertical-align: middle;
    }
    &__benefits-image {
        width: 3rem;
        height: 3rem;
        margin-right: .5rem;
    }
    &__benefits-headline {
        font-weight: 600;
        font-size: 1.1rem;
    }
}
.summary.entry-summary .cart {
    margin-bottom: 1.5rem;
}
.summary.entry-summary .price {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.price .woocommerce-Price-currencySymbol {
    font-size: 1.4rem;
}
.wc-tabs {
    display: flex;
    border-bottom: 2px solid $cyan;
    margin-bottom: 2rem;
}
.wc-tabs li {
    padding: .5rem 1.2rem;
    font-size: 1.3rem;
}
.wc-tabs li.active {
    background-color: $cyan;
}
.wc-tabs li.active a {
    color: white;
}

//additional info styles
.lmb-tabs {
    &__main-wrapper {
        width: 70%;
    }
    &__headline-weapper {
        margin-bottom: 1.5rem;
    }
    &__additionalInfo-wrapper {
        font-size: 1.2rem;
    }
    &__additionalInfo-row {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 1rem;
    }
    &__additionalInfo-row:last-child {
        margin-bottom: 0;
    }
    &__additionalInfo-space {
        flex-grow: 1;
        margin: 0 .2rem;
        border-bottom: 1px solid $grey;
        padding: 0 .2rem;
    }
    &__additionalInfo-value {
        flex-basis: 30%;
    }
}
//additional info styles end

//comment section
.woocommerce-Reviews .comment_container {
    display: flex;
    margin-bottom: .75rem;
}
.woocommerce-Reviews .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.woocommerce-Reviews .comment_container .avatar {
    border-radius: 30px;
    margin-right: 1rem;
}
.woocommerce-Reviews .woocommerce-review__published-date {
    color: $grey;
}
.woocommerce-Reviews .user-info .meta {
    margin-bottom: 0;
}
.woocommerce-Reviews .woocommerce-review__author {
    margin-right: .25rem;
}
.woocommerce-Reviews .comment-reply-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.woocommerce-Reviews .comment-form-comment {
    width: 50%;
}

/* styles below work in combination with js from single-product.js updateCommentRating() */
/*
    had to select all elements before an 'a.active' but it's impossible by css selectors only
    so sneaky move was applied. The direction of elements was reversed and that allows to select
    all elements before an active one, but that move cause the problem with setting 'active' class
    for 'a' element by wordpress js so additional js was written.
*/
.woocommerce-Reviews #review_form_wrapper .stars span {
    display: inline-flex;
    flex-direction: row-reverse;
}
.woocommerce-Reviews #review_form_wrapper .stars a {
    color: rgba(0, 0, 0, 0);
    background-image: url(../img/starg.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}

.woocommerce-Reviews #review_form_wrapper .stars a.active {
    background-image: url(../img/starb.svg);
}

.woocommerce-Reviews  #review_form_wrapper .stars a.active ~ a {
    background-image: url(../img/starb.svg);
}

.woocommerce-Reviews .comment-form-comment {
    display: inline-flex;
    flex-direction: column;
}

.woocommerce-Reviews  #review_form_wrapper .stars {
    margin-bottom: 0;
}