.main-slick {
  &__stars {
    content: "";
    display: inline-block;
    background-image: url(../img/starb.svg);
    background-size: cover;
    width: 1rem;
    height: .95rem;
  }
  //&__buyers-choice .slick-slide, &__choose-brand .slick-slide {
  //  margin: 0 10px;
  //}
  //@media( max-width: 1199px ) {
  //  &__buyers-choice .slick-slide, &__choose-brand .slick-slide {
  //    margin: 0 25px;
  //  }
  //}
  //@media( max-width: 990px ) {
  //  &__buyers-choice .slick-slide, &__choose-brand .slick-slide {
  //    margin: 0 55px;
  //  }
  //}
  //&__buyers-choice .slick-list, &__choose-brand .slick-list {
  //  margin: 0 -10px;
  //}
  &__inner_wrapper {
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 1rem .5rem;
    & a {
      font-size: 12px;
    }
  }
  &__all-categs_wrapper {
    transition: transform .2s;
  }
  &__all-categs_wrapper:hover {
    transform: scale(1.075);
  }
  &__all-categs span {
    vertical-align: middle;
  }
  &__all-categs:after {
    content: ">>";
    font-size: 10px;
    color: white;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: 1.2rem;
    width: 1.2rem;
    background-color: $cyan;
    border-radius: 30px;
    margin-left: .5rem;
  }
  &__img-wrapper {
    height: 250px;
  }
  &__img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}