@import '../mains/colors';
.price_slider {
    position: relative;
    & div {
        height: 2px;
        background-color: $light-brown;
        position: absolute;
        top: 0px;
        bottom: 0px;
        margin: auto;
    }

    & span {
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        background-color: $cyan;
        border-radius: 20%;
        border: 1px solid black;
    }
}

.price_slider {
    height: 1rem;
}