@import './colors';
:root {
    font-size: 1em;
}
@media( max-width: 1199px ) {
    :root {
        font-size: .85em;
    }
}
@media( max-width: 575px ) {
    :root {
        font-size: .8em;
    }
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: .83rem;
}
h6 {
    font-size: .67rem;
}
.bg-dbrown {
    background-color: $dark-brown;
}

.bg-lbrown {
    background-color: $light-brown;
}

.bg-cyan {
    background-color: $cyan;
}
.font-color-dbrown {
    color: $dark-brown;
}
.font-color-lbrown {
    color: $light-brown;
}
.font-color-cyan {
    color: $cyan;
}
.color-dark-brown-opacity{
    color: $dark-brown;
    opacity: .75;
}
.color-dark-brown-opacity-half{
    color: $dark-brown;
    opacity: .5;
}
body {
    color: black;
}
a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.absolute-center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.absolute-center-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}


@media ( max-width: 990px ) {
    .font-md-large {
        font-size: 2.5rem;
    }
}
@media ( min-width: 991px ) {
    .font-xl-large {
        font-size: 4rem;
    }
}
@media ( max-width: 600px ) {
    .font-sm-large {
        font-size: 1.5rem;
    }
}
.lmb-button {
    background-color: $cyan;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    transition: transform .2s;
    &:hover {
        transform: scale(1.075);
        color: white;
    }
    &:disabled,
    &[disabled] {
        background-color: $cyan-trspnt;
    }
    &_cart-wrapper {
        width: 1.1rem;
        height: 1.1rem;
    }
    &_cart-wrapper img {
        vertical-align: initial;
    }
    &_large {
        padding: .75rem 1.5rem;
    }
    &_regular {
        padding: .5rem .5rem;
    }
    &_sm {
        padding: .25rem .7rem;
    }
    &_no-zoom:hover {
        transform: initial;
    }
    &_transparent {
        background-color: transparent;
        color: $cyan;
        border: 1px solid $cyan;
    }
    &_transparent:hover{
        color: $cyan;
    }
}
label {
    margin-bottom: 0.25rem;
    position: relative;
}
//label > input[type="radio"], label > input[type="checkbox"] {
//    visibility: hidden;
//    width: 13px;
//    height: 13px;
//}
//label > input[type="checkbox"]:after {
//    content: '';
//    width: 100%;
//    height: 100%;
//    top: -2px;
//    display: inline-block;
//    position: relative;
//    border: 2px solid $light-brown;
//    visibility: visible;
//}

//label > input[type="checkbox"]:checked:after {
//    content: '';
//    background-color: $cyan;
//    border: 2px solid $light-brown;
//}
//label > input[type="checkbox"]:checked:before {
//    content: '';
//    display: inline-block;
//    position: absolute;
//    width: 13px;
//    height: 6px;
//    top: 6px;
//    left: 1px;
//    visibility: visible;
//    border-top: 2px solid white;
//    border-right: 2px solid white;
//    transform: rotate(126deg);
//    z-index: 9999;
//}
.lmb-radio__wrapper, .lmb-checkbox__wrapper {
    position: relative;
}
.lmb-radio__wrapper > label {
    position: absolute;
    left: 0;
    top: 0;
}
.lmb-checkbox__wrapper > label {
    position: absolute;
    left: 0;
    top: 3px;
}
.lmb-radio__wrapper > input[type="radio"],
.lmb-checkbox__wrapper > input[type="checkbox"] {
    visibility: hidden;
    width: 13px;
    height: 13px;
}
.lmb-checkbox__wrapper > input[type="checkbox"] + label:before {
    content: '';
    width: 13px;
    height: 13px;
    top: -2px;
    display: inline-block;
    position: relative;
    border: 2px solid $light-brown;
    visibility: visible;
}
.lmb-checkbox__wrapper > input[type="checkbox"]:checked + label:after {
    content: '';
    background-color: $cyan;
    border: 2px solid $light-brown;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 2px;
}
.lmb-checkbox__wrapper > input[type="checkbox"]:checked + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 6px;
    top: 4px;
    left: 1px;
    visibility: visible;
    border: none;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(126deg);
    z-index: 9999;
}

.lmb-radio__wrapper > input[type="radio"] + label:before {
    content: '';
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    border: 2px solid $light-brown;
    visibility: visible;
}
.lmb-radio__wrapper > input[type="radio"]:checked + label:before {
    content: '';
    background-color: $cyan;
}

.upper-case {
    text-transform: uppercase;
}
.objectf-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.objectf-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}
.quantity {
    width: 4rem;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  width: 100%;
  border: 1px solid $cyan;
  outline: none;
  color: $cyan;
}
input[type=number] + label:before,
input[type=number] + label:after  {
    position: absolute;
    display: inline-flex;
    align-items: center;
}
input[type=number] + label {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}
.lmb-input {
    &__plus, &__min {
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        font-size: 18px;
        background-color: $cyan;
        color: white;
        outline: none;
        user-select: none;
        z-index: 10;
        cursor: pointer;
    }
    &__plus {
        right: 0;
    }
    &__min {
        left: 0;
    }
    // &__plus:hover, &__min:hover {
    //     cursor: pointer;
    // }
}
.woocommerce-error {
    margin-bottom: 0;
}
.overflow-auto {
    overflow: auto;
}
.woocommerce-notices-wrapper a {
    color: $cyan;
}
.woocommerce-notices-wrapper a:hover {
    color: $cyan;
    cursor: pointer;
}
/* Below are styles related to form fields */
.select2-container--default .select2-selection--single {
    border: 1px solid $light-brown;
    border-radius: 5px;
    outline: none;
}
input {
    height: 2rem;
    border: 1px solid $light-brown;
    border-radius: 5px;
    padding: 0 .5rem;
}
textarea {
    border: 1px solid $light-brown;
    border-radius: 5px;
    padding: 0 .5rem;
}
input:focus, input:active, textarea:focus, textarea:active {
    outline: none;
    border: 1px solid $cyan;
}
.select2-dropdown {
    border: 1px solid $cyan;
}
.select2-container--default .select2-selection--single[aria-expanded=true] {
    border: 1px solid $cyan;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid $cyan;
}
/* Above are styles related to form fields */

.spinner-wrapper {
    height: 2rem;
    text-align: center;
    width: 100%;
}
.lmb-spinner {
    height: 100%;
    margin: auto;
}

.main-slick__choose-brand .slick-slide,
.main-slick__buyers-choice .slick-slide {
    width: 263px;
    margin: 0 25px;
}
.home__main-banner_context .home__main-banner_item,
.main-slick__choose-brand .main-slick__item-wrapper,
.main-slick__buyers-choice .main-slick__item-wrapper {
    display: none;
}
.home__main-banner_context .home__main-banner_item:first-child,
.main-slick__choose-brand .main-slick__item-wrapper:first-child,
.main-slick__buyers-choice .main-slick__item-wrapper:first-child {
    display: block;
}
.home__main-banner_context.slick-initialized .home__main-banner_item,
.main-slick__choose-brand.slick-initialized .main-slick__item-wrapper,
.main-slick__buyers-choice.slick-initialized .main-slick__item-wrapper {
    display: block;
}
