.woocommerce-pagination {
    .page-numbers li {
        display: inline-block;
    }
    ul.page-numbers li a.page-numbers {
        color: $cyan;
    }
    ul.page-numbers li a.next, ul.page-numbers li a.prev {
        line-height: 20px;
        display: inline-block;
        vertical-align: top;
        font-size: 20px
    }
    ul.page-numbers li .current {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $light-brown;
        border-radius: 30px;
        color: white;
        background-color: $cyan;
        padding: .65rem;
        width: 20px;
        height: 20px;
    }
}