.modal-content {
    width: 90%;
    margin: auto;
}
.lmb-foundposts__wrapper {
    width: 100%;
}
.lmb-singlepost {
    &__wrapper {
        display: flex;
        margin-bottom: 1rem;
    }
    &__wrapper:last-child {
        margin-bottom: initial;
    }
    &__img-wrapper {
        flex-basis: 15%;
    }
    &__img {
        object-fit: contain;
        width: 50%;
    }
    &__content-wrapper {
        flex: 1;
    }
}
.modal-body .lmb-product-search {
    width: 100%;
    height: 2.5rem ;
    border-radius: 5px;
    border: 1px solid $light-brown;
    padding: 0 .5rem;
    &__clear {
        margin-right: 1.5rem;
    }
}